body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.for-desktop {
  display: block;
}

@media (max-width: 1024px) {
  .for-desktop {
    display: none;
  }
}

.for-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .for-mobile {
    display: block;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-section-top {
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20rem;
}

.wrap-slide {
  width: 66.67%;
  border-radius: 15px;
}

.img-slide {
  width: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.slick-dots {
  margin: -40px 0 !important;
  bottom: unset !important;
}

.slick-dots li.slick-active button:before {
  color: #ff671d !important;
  opacity: 1 !important;
}

.slick-dots li button:before {
  font-size: 15px !important;
  color: #fff !important;
}

.form {
  width: 33.33%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 15px;
  background-color: #0005;
  border-radius: 15px;
  padding: 1.5rem;
}

.form .wrapper-form-option {
  width: 50%;
  background-color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
  margin: 0 5px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ff671d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.wrapper-label-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.label-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 3rem;
  width: 25%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1.3rem;
}

.bg-orange {
  background-color: #eb643a;
  color: #fff;
}

.bg-gray {
  background-color: #6c757d;
  color: #fff;
}

.dropdown-content {
  width: 75%;
  height: 3rem;
  font-size: 16px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #fff;
}

.wrapper-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-btn .submit {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 15px 35px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  border: unset;
  border-radius: 10px;
  background: #ccc;
}

.logo-img {
  padding: 10px;
}

.header-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  border-bottom: 1px solid #0000;
  background-image: linear-gradient(135deg, #324555 39%, #0a0e11 113%);
}

.wrapper-content-header {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-btn-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
}

.dropbtn-sewa {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
}

.dropbtn::after {
  content: "";
  border: 4px solid #0000;
  border-top-color: #ff671d;
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
  bottom: 0;
  margin: auto;
  right: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: inherit;
  padding-top: 2rem;
}

.dropdown-content-menu {
  top: 6rem;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: white;
}

.dropdown-content-menu a:hover {
  background-color: #ccc;
}

.dropdown:hover .dropdown-content-menu {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #ff671d;
  border-bottom: 1px solid #ff671d;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.dropdown:hover .dropbtn-sewa {
  color: #ff671d;
  border-bottom: 1px solid #ff671d;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.text-account {
  cursor: pointer;
  position: relative;
  color: #ff671d;
  padding-right: 15px;
}

.text-account:after {
  content: "";
  border: 4px solid #0000;
  border-top-color: #ff671d;
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
  bottom: 0;
  margin: auto;
  right: 0;
}

.wrapper-content-my-mobilku {
  width: 13rem;
  height: auto;
  background: #fff;
  padding: 1.2rem;
  position: absolute;
  left: -8rem;
  top: 3rem;
  z-index: 1;
  display: none;
}

.btn-mobilku {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-dark {
  background-color: #324555;
  border-color: #324555;
}

.btn-danger {
  background-color: #ff671d;
  border-color: #ff671d;
}

.header-mobile {
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  border-bottom: 1px solid #0000;
  background-image: linear-gradient(135deg, #324555 39%, #0a0e11 113%);
}

.logo-menu {
  padding: 0 10px;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-menu-mobile {
  position: fixed;
  top: 0;
  height: 100vh;
  background: #324555;
  right: -12rem;
  width: calc(100% / 1.8);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  visibility: hidden;
}

.conten-show-menu-mobile {
  right: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  visibility: visible;
}

.wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ffffff05;
  height: 3rem;
}

.menu-mobile {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  border-bottom: 1px solid #ffffff05;
}

.menu-mobile:hover {
  color: #ff671d;
}

.menu-mobile::after {
  content: "";
  border: 4px solid #0000;
  border-top-color: #ff671d;
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
  bottom: 0;
  margin: auto;
  right: 10px;
}

.menu-mobile-diff {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  border-bottom: 1px solid #ffffff05;
}

.menu-mobile-diff:hover {
  color: #ff671d;
}

.sub-menu-mobile {
  color: white;
  padding: 15px 15px 15px 38px;
  background-color: #394c5c;
  border-bottom: 1px solid #ffffff05;
}

.wrapper-content-my-mobilku-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px;
  margin-top: 3rem;
}

#menu-news {
  display: none;
}

#menu-beli {
  display: none;
}

#menu-jual {
  display: none;
}

@media screen and (max-width: 800px) {
  .btn-mobilku {
    width: calc((22rem -10px) / 2);
    margin-bottom: 0;
  }
}

.bg-mobile {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#footer {
  width: 100%;
  height: auto;
  position: relative;
  background-image: linear-gradient(158deg, #324555 28%, #0a0e11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  #footer {
    display: block;
  }
}

.apps-img {
  padding: 0 10px;
}

.text-white {
  color: white;
}

.logo-apps {
  width: 10rem;
}

@media screen and (max-width: 1000px) {
  .logo-apps {
    width: 8rem;
  }
}

.text-footer {
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .text-footer {
    text-align: center;
  }
}

.img-footer {
  display: block;
  padding: 30px;
}

@media screen and (max-width: 1000px) {
  .img-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */